doctype html
html(lang="en")
  head
    include ../incl/meta.incl
    title #{$i18n.about.title}
    meta(name="description" content="Profiles about the developers in Walcron Coorperation.")
    link(rel="stylesheet" type="text/css" href="/ext/css/about.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
  body
    div(id="aboutHeader")
    div(class="about-layer")
      div(class="slides slide1")
        h2(class="quotes bottom") #{$i18n.about.classicQuote}
      div(class="slides slide2")
        div(class="content table")
          div(class="row")
            div(class="cell")
              img(src='/ext/img/about/han.jpg', class='profile-pic left')
              h2 Yoong Han
              h3
                | #{$i18n.about.userhan.intro}
                br
                br
                | #{$i18n.about.userhan.hobby}

      div(class="slides slide3")
        div(class="content table")
          div(class="row")
            div(class="cell")
              img(src='/ext/img/about/gladys.jpg', class='profile-pic right')
              h2 Gladys Tai
              h3
                | #{$i18n.about.usertai.intro}
                br
                br
                | #{$i18n.about.usertai.quote}

      div(class="slides slide4")
        div(class="content")
          h2 #{$i18n.about.vision.title}
          h3 #{$i18n.about.vision.desc}
          h3(class="quotes") "Here is the playground for us to create a pavement to improve ourselves."

      div(class="slides slide5")
        div(class="content")
          div(class="quotes_container")
            h1 #{$i18n.about.interest.title}
            h3 #{$i18n.about.interest.detail} 
    div(id="aboutFooter")
    script(src='/ext/js/lib/react-with-addons.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/ext/js/about.bundle.js')
